*{
    text-decoration: none;
    list-style: none;
    color: white;
}
.Container2{
    background-color: rgba(65,65,65,255);
    display: flex;
    justify-content: center;
    
}
.footer{
    min-height: 100px;
    width: 80%;
    margin-top: 10px;
}


.ul,a,p{
    display: flex;
    color: white;
}

.li{
    margin:0 10px;
}

.p{
    margin-left: 6px;
    padding-top: 10px;
}

.redesimg{
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.appimg{
    margin: 10px;
    height: 40px;
    width: 100px;
}

.redesApp{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}


@media screen and (max-width:813px) {
    .redesApp{
        flex-direction: column;
    }
   
    .ul,a,p{
        flex-direction: column;
        text-align: center;
    }

    .app{
        display: flex;
        flex-direction: column;
    }
    
    
}