.inicio{width: 100%}
.popular-t{width: 1186px;height: 60px;background-color: black;color: white;padding-left:180px ;padding-top: 20px;}



@media(max-width: 800px ) {
    .popular-t{width: 800px;height: 60px;background-color: black;color: white;padding-left:160px;font-size: 25px; }
}