
.todo {
    background-color: #2563eb;
    display: flex;
    justify-content: space-around;
    align-items: center;;
    gap: 10rem;
    height: 5rem;
    color: white;
  }
  
.login{display: flex;}

.a{
    text-decoration: none;
    color: white;
    margin-top: 5px;
}

.button{
    background-color: black;
    color: white;
    height: 30px;
    padding: 0px 10px ;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
}

  
  @media screen and (max-width:760px) {
    .navbar{  
        gap: 0rem;   
    }
}

@media screen and (max-width:541px) {
    .todo{
        flex-direction: column;
        gap: 0rem; 
    }
}