*{
    color: black;
}

.generall{
    position: relative;
    min-height: 100vh;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.card{
    width: 200px;
    text-align: center;
}
.img{
    width: 200px;
    height: 300px;
    margin-top: 20px;
    border-radius: 5px;
}
.img:hover{
   opacity: 0.2;
  
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(65,65,65,255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.modal1{
    text-align: center;
}

.modal2{
    text-align: justify;
}

.modal2,.modal2{
    color: white;
}

.butoon{
    border: none;
    background-color:white ;
    color:rgba(0,121,254,255);
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    border-radius: 5px;
}
.butoon:hover{
    border: none;
    background-color: blue;
    color: white;
   
}

.mensaje{
    margin:100px 100px;
}

.img1{
    width: 200px;
    height: 300px;
    border-radius: 5px;
}


